@media (max-width: 768px) {
  .swiper-slide {
    width: 250px;
    height: auto;
  }
}

/* @media (max-width: 768px) {
  .container .swiper-container {
    bottom: -58vw;
    padding-bottom: 20vw;
  }
} */
