.loader {
  position: relative;
  display: flex;
  justify-content: center;
  height: 47.6vw;
  align-items: center;
}

.loader span {
  /* width: 62px; */
  width: 4vw;
  /* height: 62px; */
  height: 4vw;
  /* margin: 0 0px; */
  background-color: rgb(118, 193, 255);
  animation: animate 2s linear infinite;
  -webkit-animation: animate 2s linear infinite;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(-20vh) scale(1);
  -webkit-transform: translateY(-20vh) scale(1);
  -moz-transform: translateY(-20vh) scale(1);
  -ms-transform: translateY(-20vh) scale(1);
  -o-transform: translateY(-20vh) scale(1);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  background-color: #2196f3;
  /* margin: 0 50px; */
  margin: 0 3.2vw;
}

/* dsfdsfsdfsdf */

@media (min-width: 1500px) {
  .loader span {
    height: 5vw;
    width: 5vw;
  }
}

@media (max-width: 1500px) {
  .loader span {
    height: 5vw;
    width: 5vw;
  }
}

/* @media (max-width: 1200px) {
  .loader span {
    height: 6vw;
    width: 6vw;
  }
} */

@media (max-width: 900px) {
  .loader span {
    height: 8vw;
    width: 8vw;
  }
}

@media (min-height: 1100px) {
  .loader span {
    height: 7vw;
    width: 7vw;
  }
}

/* ssdfsdfsdf */

.loader span:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(-12vh) scale(1);
    -webkit-transform: translateY(-12vh) scale(1);
    -moz-transform: translateY(-12vh) scale(1);
    -ms-transform: translateY(-12vh) scale(1);
    -o-transform: translateY(-12vh) scale(1);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: #2196f3;
    /*margin: 0 50px;
    */
    margin: 0 3.2vw;
  }

  50% {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: translateY(0px) scale(1.2);
    -webkit-transform: translateY(0px) scale(1.2);
    -moz-transform: translateY(0px) scale(1.2);
    -ms-transform: translateY(0px) scale(1.2);
    -o-transform: translateY(0px) scale(1.2);
    border-radius: 50vw;
    -webkit-border-radius: 50vw;
    -moz-border-radius: 50vw;
    -ms-border-radius: 50vw;
    -o-border-radius: 50vw;
    background-color: #ffffff;
    margin: 0 0vw;
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-12vh) scale(1);
    -webkit-transform: translateY(-12vh) scale(1);
    -moz-transform: translateY(-12vh) scale(1);
    -ms-transform: translateY(-12vh) scale(1);
    -o-transform: translateY(-12vh) scale(1);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: #2196f3;
    /*margin: 0 50px;
    */
    margin: 0 3.2vw;
  }
}

@media (max-width: 1100px) {
  @keyframes animate {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      opacity: 0;
      transform: translateY(-11vh) scale(1);
      -webkit-transform: translateY(-11vh) scale(1);
      -moz-transform: translateY(-11vh) scale(1);
      -ms-transform: translateY(-11vh) scale(1);
      -o-transform: translateY(-11vh) scale(1);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      background-color: #2196f3;
      /*margin: 0 50px;
      */
      margin: 0 3.2vw;
    }

    50% {
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      opacity: 1;
      transform: translateY(0px) scale(1.2);
      -webkit-transform: translateY(0px) scale(1.2);
      -moz-transform: translateY(0px) scale(1.2);
      -ms-transform: translateY(0px) scale(1.2);
      -o-transform: translateY(0px) scale(1.2);
      border-radius: 50vw;
      -webkit-border-radius: 50vw;
      -moz-border-radius: 50vw;
      -ms-border-radius: 50vw;
      -o-border-radius: 50vw;
      background-color: #ffffff;
      margin: 0 0vw;
    }
    100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      transform: translateY(-11vh) scale(1);
      -webkit-transform: translateY(-11vh) scale(1);
      -moz-transform: translateY(-11vh) scale(1);
      -ms-transform: translateY(-11vh) scale(1);
      -o-transform: translateY(-11vh) scale(1);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      background-color: #2196f3;
      /*margin: 0 50px;
      */
      margin: 0 3.2vw;
    }
  }
}

@media (max-width: 900px) {
  @keyframes animate {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      opacity: 0;
      transform: translateY(-9vh) scale(1);
      -webkit-transform: translateY(-9vh) scale(1);
      -moz-transform: translateY(-9vh) scale(1);
      -ms-transform: translateY(-9vh) scale(1);
      -o-transform: translateY(-9vh) scale(1);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      background-color: #2196f3;
      /*margin: 0 50px;
      */
      margin: 0 3.2vw;
    }

    50% {
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      opacity: 1;
      transform: translateY(0px) scale(1.2);
      -webkit-transform: translateY(0px) scale(1.2);
      -moz-transform: translateY(0px) scale(1.2);
      -ms-transform: translateY(0px) scale(1.2);
      -o-transform: translateY(0px) scale(1.2);
      border-radius: 50vw;
      -webkit-border-radius: 50vw;
      -moz-border-radius: 50vw;
      -ms-border-radius: 50vw;
      -o-border-radius: 50vw;
      background-color: #ffffff;
      margin: 0 0vw;
    }
    100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      transform: translateY(-9vh) scale(1);
      -webkit-transform: translateY(-9vh) scale(1);
      -moz-transform: translateY(-9vh) scale(1);
      -ms-transform: translateY(-9vh) scale(1);
      -o-transform: translateY(-9vh) scale(1);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      background-color: #2196f3;
      /*margin: 0 50px;
      */
      margin: 0 3.2vw;
    }
  }
}

@media (max-width: 550px) {
  @keyframes animate {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      opacity: 0;
      transform: translateY(-8vh) scale(1);
      -webkit-transform: translateY(-8vh) scale(1);
      -moz-transform: translateY(-8vh) scale(1);
      -ms-transform: translateY(-8vh) scale(1);
      -o-transform: translateY(-8vh) scale(1);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      background-color: #2196f3;
      /*margin: 0 50px;
      */
      margin: 0 3.2vw;
    }

    50% {
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
      opacity: 1;
      transform: translateY(0px) scale(1.2);
      -webkit-transform: translateY(0px) scale(1.2);
      -moz-transform: translateY(0px) scale(1.2);
      -ms-transform: translateY(0px) scale(1.2);
      -o-transform: translateY(0px) scale(1.2);
      border-radius: 50vw;
      -webkit-border-radius: 50vw;
      -moz-border-radius: 50vw;
      -ms-border-radius: 50vw;
      -o-border-radius: 50vw;
      background-color: #ffffff;
      margin: 0 0vw;
    }
    100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      transform: translateY(-8vh) scale(1);
      -webkit-transform: translateY(-8vh) scale(1);
      -moz-transform: translateY(-8vh) scale(1);
      -ms-transform: translateY(-8vh) scale(1);
      -o-transform: translateY(-8vh) scale(1);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      background-color: #2196f3;
      /*margin: 0 50px;
      */
      margin: 0 3.2vw;
    }
  }
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

.loader span:nth-child(4) {
  animation-delay: 0.6s;
}

.loader span:nth-child(5) {
  animation-delay: 0.8s;
}

.loader span:nth-child(6) {
  animation-delay: 1s;
}

.loader span:nth-child(7) {
  animation-delay: 1.2s;
}

/* .loadingTitle {
  display: block;
  margin: 0;
  padding: 0;
  height: 1.2em;
  font-size: 2.5em;
  position: relative;
  left: 50%;
  bottom: 25vh;
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  opacity: 0.5;
  color: white;
  animation: textAnimate 2s linear infinite;
  -webkit-animation: textAnimate 2s linear infinite;
}

@keyframes textAnimate {
  0% {
    opacity: 0;
    font-size: 2.5em;
  }
  50% {
    opacity: 0.5;
    font-size: 2.4em;
  }
  100% {
    opacity: 0;
    font-size: 2.5em;
  }
} */
