.mapCardBody {
  width: 98vw;
  height: 85vh;
  position: relative;
  transform: translateY(4%);
  -webkit-transform: translateY(4%);
  -moz-transform: translateY(4%);
  -ms-transform: translateY(4%);
  -o-transform: translateY(4%);
  overflow: hidden;
  font-size: 1.5em;
  color: white;
  background-color: rgba(255, 255, 255);
  overflow: hidden;
  /* border-top: 1px solid rgba(255, 255, 255); */
  /* border-left: 1px solid rgba(255, 255, 255, 0.5); */
  display: flex;
  background-size: cover;
  background-position: center;
  margin: 30px;
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 17px 17px 34px #5a5a5a, -17px -17px 34px #ffffff;
  align-items: center;
  justify-content: center;
}

.map3D {
  /* position: relative; */
  width: 99%;
  height: 98%;
  /* background-color: red; */
}
