:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-900: hsl(0, 0, 100%);
  --clr-neutral-900: hsl(142, 90%, 61%);
}

.card {
  color: var(--clr-neutral-100);
  background-image: url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
}
